body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: black;
}

form {
    max-width: 800px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

fieldset {
    border: 2px solid cadetblue;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {
    font-weight: bold;
    text-align: left;
    color: darkolivegreen;
}

label {
    display: block;
    margin-top: 10px;
    color: darkolivegreen;
}

input, textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid darkolivegreen;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(8, 183, 206);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: darkcyan;
}

#outputofresume {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid darkcyan;
    border-radius: 8px;
    background-color: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#outputofresume h2 {
    color:cadetblue;
    
}